.App{
  padding-top: 130px;
}
#pokemon_row{
  position: relative;
  top: 100px;
}
.card-image{
  text-align: center;
}
.form-group{
  position: relative;
  left: 290px;
}
.navbar{
  background-color: #ef5350 !important;
}
#pokedexEntry{
  width: 1000px !important;
  height: 70px !important;
  position: relative;
  left: -180px;
  border-color:#ef5350 !important;
  border-width: 3px !important;
}
#delete_all_button{
 position: relative;
 top:35px;
 left:340px;
}
#save_button{
  position: relative;
  top:35px;
  right:200px;
}
#teams_list{
  position: relative;
  top: -150px;
  left: 880px;
}