.App{
  padding-top: 130px;
}
.card{
  position: relative;
  top: 50px;
  left: 600px;
}
.card-header, .card-image{
  text-align: center;
}
.form-group{
  position: relative;
  left: 600px;
}
.navbar{
  background-color: #ef5350 !important;
}